<!DOCTYPE html>
<html>
<head>
  <title>Awections</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "nav" %>
  <div class="container">
    <%= content_tag :div, alert, class: "flash bg-danger" if alert %>
    <%= content_tag :div, notice, class: "flash bg-success" if notice %>
    <%= yield %>
  </div>

</body>
</html>
